.logoImg {
  width: 15% !important;
}
/* .yellow_bg {
  background-color: #ffca00 !important;
}
.yellow_bg_h1, .yellow_bg_p{
    color: #fff !important;
}
.hero_section h1, .hero_section p {
  color: #fff;
}

.h_social a{
    background-color: #ffffff !important;
    color: #000000 !important;
} */
/* .h_social a{
    background-color: #ffffff !important;
    color: #000000 !important;
} */